<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Secret Santa</title>
    <link rel="stylesheet" href="css/generate.css">
</head>
<body>
	<h2>Secret Santa Matchmaking</h2>
	i donno what i can even do in my life im just a loser and mindset is not good because im not doing anything to improve in life im already 31 and dont have a degree im just a waste there is no need of me im just
	living because i dont want the people who love me to suffer if i do anything to myself orelse i would have ended myself long time ago i must say sorry 
	to everyone who loves me because i failed them terribly
	Im bad
	Worse
	Looser
	cant do anything in life
	Still people who love me never blamed me for anything and they still love me alot and worries about me
	Dear god what i even did to have loved ones in my life
	Thanks for giving them 
	I wish i get a wish from god
	I'll ask god to remove memories of me in everyone's mind 
	So they wouldn't remember me and i can just go somewhere and live withot feeling guilty for being a looser
	I failed as a son but my parents never said anything wrong to me
	I failed as a boyfriend because i dont even have a job but she or her parents never blamed or judged me for anything and never blamed me
	I cant do anything to anyone I wish i never accepted her proposal she caould have married a well settled guy 2 years back 
	She is waiting for me her parents are waiting for me and no one ever said anything wrong to me
	Oh god what i even did to have good people around me
	I wish you to remove me from the memories of everyone that knows me forever
	<p>Below are the matches!</p>
	<p>Go back to the previous page and click generate to get new matches!</p>
	
	<hr class="solid">
	
	<div th:each="match : ${matches}" class="container">
		<span th:text="${match.key}" class="first"></span>
		<span class="second">gives a gift to</span>
		<span th:text="${match.value}" class="third"></span>
	</div>
</body>
</html>
